.wrapper{
    display: flex;
    gap: 20px;
    align-items: center;
}

.button{
    color: black;
}

.button-green{
    border-radius: 5px;
    color: #52C41A !important;
    border-color: #52C41A !important;
    width: 100px;
    height: 50px;
}